# ROS 2 build folders
build/
install/
log/

# Python cache
__pycache__/
*.py[cod]

# IDE settings (optional)
.vscode/
.idea/

# Editors
*~

# ROS 2 bag files
*.db3
metadata.yaml
*.bag

# Plot outputs
plots/
test_plots/

# OS specific
.DS_Store
